@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600&family=Inter:wght@300;400;500;600&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 40px;
}

.sign-in {
    width: 1200px;
    /* height: 640px; */
    background: #FFF;
    display: flex;
}

.right {
    width: 320px;
    flex-shrink: 0;
    display: inline;
    /* margin-left: 152px;
    margin-top: 92px; */
    
}

.right-p {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 32px;
}
.wrapper {
position: relative;

}
.username-icon {
    position: absolute;
    padding-left: 6px;
    padding-top: 14px;
    padding-bottom: 4px;
    
    }

    .hi {
        padding-left: 30px;
    }

    .hii {
        padding-top:17px;
    }
    

.right-pp {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 24px;
    
}

.right input {
    height: 48px;
    border-radius: 8px;
    border: 1px solid  #ADB5BD;
    background: transparent, rgba(255, 255, 255, 0.00);
    width: 300px;
    margin-bottom: 24px;
    transition: 1s ease;
}

.right input:hover {
    background-color: rgb(235, 51, 143);
    border: rgb(235, 51, 143);
    color: white;
}

.right button {
    width: 180px;
    height: 48px;
    flex-shrink: 0;
    background-color: #0D6EFD;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    margin-left: 70px;
}

.right button a {
    text-decoration: none;
    color: #FFF;
}

.social {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}

